.store {
    padding-top: 25rem;

    &__product-display {
        width: 70%;
        margin-left: $left-margin;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        z-index: 2;

        &__row {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            & > * {
                margin-bottom: $distance-between-boxes;
                margin-right: $distance-between-boxes;
            }
        }

        // &__row {
        //     display: flex;
        //     flex-direction: row;
        //     padding-bottom: $distance-between-boxes;

        // }
    }
}